
<h1>Here is your fusion!</h1>
<p><span>$gemOne.getGemName() & $gemTwo.getGemName() make:</span></p>
<br>

    <img id = "image" src="$fusion.getImgURL()" width="250" height="336"
         onmouseover="this.src='$fusion.getImgURL2()';"
         onmouseout="this.src='$fusion.getImgURL()';">
    </img>

<h1><span>$fusion.getName()!</span><h1>

<h2>$fusion.getDescription()</h2>
