<!DOCTYPE html>
<h1>Select a gem below:</h1>
 <div class =smg>
#foreach($gem in $gems)
    <a href="/gem/$gem.getId()"><img id = "image" src="$gem.getImgURL()" width="250" height="336"></a>
#end
</div>
