<!DOCTYPE html>
<html>
  <head>
    <title>Steven Universe Fusion</title>
    <link rel='stylesheet' href='/app.css'>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <div class="logo">
      <img src="/img/steven_universe.png">
      <img src="/img/logo.gif">
    </div>
    <center><img src="/img/fusions.png"></center>


    <div class="container">

      #parse( $template )
    </div>
  </body>
</html>
