    <link rel="stylesheet" href="http://localhost:4567/css/other.css">

<div id='loading'>
  <div class='outer-shadow'></div>
  <div class='inner-shadow'></div>
  <div class='timer'>
    <div class='dot'>
      <span></span>
    </div>
    <div class='hold' id='left'>
      <div class='pie'></div>
    </div>
    <div class='hold' id='right'>
      <div class='pie'></div>
    </div>
  </div>
</div>
