
<h1>Select another gem for $gem.getGemName() to fuse with:</h1>

#foreach($gem in $gems)
<a href="/gem/$gem.getId()">
    <img id = "myImage" src="$gem.getImgURL()" width="250" height="336"
         onmouseover="this.src='$gem.getImgURL2()';"
         onmouseout="this.src='$gem.getImgURL()';">
    </img>
</a>
#end
